@model prjMaribelMejia.Models.Productos

@{
    List<prjMaribelMejia.Models.Categorias> categorias = ViewBag.ListaCategorias;
}
@{
    List<prjMaribelMejia.Models.Marcas> marcas = ViewBag.ListaMarcas;
}

<h2 class="alert-success">Crear nuevo Producto</h2>

<form asp-action="CrearProducto"  autocomplete="off">
    <div class="table-responsive">
        <label>Producto:  </label>
    <input type="text" class="form-control Nombrepdto" name="Producto" />
     
        <label>Seleccione Categoria</label>
        <select class="form-control idcat" name="IdCategoria">
            @{
                foreach(var cat in categorias)
                {
                    <option value="@cat.IdCategoria">@cat.Categoria</option>
                }
            }
        </select>

        <br />

        <label>Precio Unitario C$:</label>
        <input type="text" class="form-control preciopdto" name="Precio" />
        <label>Descripción del Producto:</label>
        <input type="text" class="form-control descripcion-pdto" name="Descripcion" />
        <label>Seleccione Marca:</label> 

          <select class="form-control idmarca" name="IdMarca">
            @{
                foreach(var marc in marcas)
                {
                    <option value="">@marc.NombreMarca</option>
                }
            }
        </select>

        <br />

        <br />
        @* <input type="date" class="form-control" />*@
        <div class=form-group>
          
            <a id="btnGuardar" href="javascrip:void(0);" class="btn btn-success">Guardar</a>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/jsProducto.js"></script>
}