<h2 class="alert-success">Crear nuevo propietario</h2>

<form asp-action="CrearPropietarios"  autocomplete="off">
    <div>
         <label>Nombre Propietario:</label>
    <input type="text" class="form-control" name="NombrePropietario" maxlength="50" />
      <label>Nº Identifiación:</label>
    <input type="text" class="form-control" name="IdentificacionPropietario" maxlength="16"/>
    <label>Dirección Propietario:</label>
    <input type="text" class="form-control" name="DireccionPropietario" maxlength="300"/>
     <label>Nº Teléfono:</label>
    <input type="text" class="form-control phone"  name="TelefonoPropietario" maxlength="9"/>


   @* <input type="date" class="form-control" />*@
    <div class=form-group>
        <input type="submit" value="Guardar" class="btn btn-success"/>
    </div>
    </div>
</form>
@section Scripts
{ 
   <script>

$(document).ready(function(){
      $('.date').mask('11/11/1111');
      $('.time').mask('00:00:00');
      $('.date_time').mask('99/99/9999 00:00:00');
      $('.phone').mask('9999-9999');
      $('.phone_with_ddd').mask('(99) 99 999 99 99');
      $('.money').mask('000.000.000.000.000,00', {reverse: true});
});
</script>

}

