@model prjMaribelMejia.Models.Modulos


@{
    List<prjMaribelMejia.Models.Propietarios> propietarios = ViewBag.ListaPropietario;
}

<h2 class="alert-info">Crear nuevo Modulo</h2>

<form asp-action="CrearProducto"  autocomplete="off">
    <div class="table-responsive">           

        <label>Seleccione Propietario:</label>
        <select class="form-control idprop dropdown active alert-dark" name="IdPropietario" style="background: #F2FAFA;color:#3B404F;">
            @{
                foreach(var prop in propietarios)
                {
                    <option class="option alert-light"  value="@prop.IdPropietario">@prop.NombrePropietario</option>
                }
            }
        </select>    


        <label>Modulo:</label>
        <input type="text" class="form-control nombremodulo" name="Modulo" />
      
        <label>Descripción del Módulo:</label>
        <input type="text" class="form-control descmodulo" name="DescripcionModulo" />        
        <br />

        @* <input type="date" class="form-control" />*@
        <div class=form-group>          
            <a id="btnGuardar" href="javascrip:void(0);" class="btn btn-success">Guardar</a>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/jsModulo.js"></script>
}
