@model prjMaribelMejia.Models.Modulos


@{
    List<prjMaribelMejia.Models.Propietarios> propietarios = ViewBag.listapropietarios;
}

<h1 class="alert-success">Crear nuevo Modulo</h1>

<form asp-action="CrearModulo" autocomplete="off">
    <div>
        <label>Propietario:</label>
 <label asp-for="IdPropietario" class="control-label">Seleccione Categoria</label>
         <select class="form-control idprop" name="IdPropietario">
            @{
                foreach(var prop in propietarios)
                {
                    <option value="@prop.IdPropietario">@prop.NombrePropietario</option>
                }
            }
        </select>

        <br />
        <span asp-validation-for="IdPropietario" class="text-danger"></span>

     <label>Modulo:</label>
   <div class="form-group">
        <textarea class="form-control nombremodulo" name="Modulo" maxlength="500">
        </textarea>
   </div>

   <br />

       <div class=form-group>

        @*lo ponemos neutral como enlñace sin apuntar a ningun lado*@
        <a id="btnGuardar" href="javascrip:void(0);" class="btn btn-success">Guardar</a>

         
    </div>
    </div>
</form>
<div class="contenedor">

</div>
@section Scripts
{
    <script src="~/js/jsModulo.js"></script>
}
