@model prjMaribelMejia.Models.Modulos


@{
    List<prjMaribelMejia.Models.Propietarios> propietarios = ViewBag.ListaPropietario;
}

<h1 class="alert-success">Crear nuevo Modulo</h1>

<form asp-action="CrearProducto"  autocomplete="off">
    <div class="table-responsive">
     
        <label>Seleccione Propietario:</label>
        <select class="form-control idprop dropdown-item alert-dark" name="IdPropietario">
            @{
                foreach(var prop in propietarios)
                {
                    <option value="@prop.IdPropietario">@prop.NombrePropietario</option>
                }
            }
        </select>

        <label>Modulo:</label>
        <input type="text" class="form-control nombremodulo" name="Modulo" />
      
        <label>Descripción del Módulo:</label>
        <input type="text" class="form-control descmodulo" name="DescripcionModulo" />        
        <br />

        @* <input type="date" class="form-control" />*@
        <div class=form-group>          
            <a id="btnGuardar" href="javascrip:void(0);" class="btn btn-success">Guardar</a>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/jsModulo.js"></script>
}
