@model prjMaribelMejia.Models.Propietarios

<h1 class="alert-success">Crear nuevo Modulo</h1>

<form asp-action="CrearModulo" autocomplete="off">
    <div>
        <label>Propietario:</label>
 <label asp-for="IdPropietario" class="control-label">Seleccione Categoria</label>
        <select name="IdPropietario" asp-for="IdPropietario" asp-items="@Model.LisPropietarios" class="form-control idprop">
            <option value="0">-seleccione-</option>
        </select>
        <span asp-validation-for="IdPropietario" class="text-danger"></span>

     <label>Modulo:</label>
   <div class="form-group">
        <textarea class="form-control nombremodulo" name="Modulo" maxlength="500">
        </textarea>
   </div>

   <br />

       <div class=form-group>

        @*lo ponemos neutral como enlñace sin apuntar a ningun lado*@
        <a id="btnGuardar" href="javascrip:void(0);" class="btn btn-success">Guardar</a>

         
    </div>
    </div>
</form>
<div class="contenedor">

</div>
@section Scripts
{
    <script src="~/js/jsModulo.js"></script>
}
