@model prjMaribelMejia.Models.Modulos

<h2>Eliminar Categoría</h2>

<form asp-action="EliminarModulo">
    <div>
    
    <input type="text" class="form-control" name="IdPropietario" value="@Model.IdPropietario"/>
    <input type="text" class="form-control" name="Modulo" value="@Model.Modulo"/>
   <input type="hidden" class="form-control" name="IdModulo" value="@Model.IdModulo"/>
    <div class=form-group>
        @*<input  id="btnEliminar" type="submit" value="Eliminar" class="btn btn-danger"/>*@
           <a id="btnEliminar" href="javascrip:void(0);" class="btn btn-danger">Eliminar</a>
             <a id="btnEliminar" href="javascrip:void(0);" class="btn btn-success">Guardar</a>
    </div>
    </div>
</form>
@section Scripts
{
    <script src="~/js/jsModulo.js"></script>
}