@model prjMaribelMejia.Models.Modulos

<h2>Eliminar Categoría</h2>

<form asp-action="EliminarModulo">
    <div>
    
    <input type="text" class="form-control idprop" name="IdPropietario" value="@Model.IdPropietario"/>
    <input type="text" class="form-control nombremodulo" name="Modulo" value="@Model.Modulo"/>
   <input type="hidden" class="form-control" name="IdModulo" value="@Model.IdModulo"/>
    <div class=form-group>
        <input type="submit" value="Eliminar" class="btn btn-danger"/>
    </div>
    </div>
</form>