<h1 class="alert-success">Crear nueva categoria</h1>

<form asp-action="CrearCategoria">
    <div>
        <label>Categoría:</label>
    <input type="text" class="form-control pruebajq4" name="Categoria" />
     <label>Descripción:</label>
    <input type="text" class="form-control nombre-categoria" name="DescripcionCategoria"/>
   @* <input type="date" class="form-control" />*@
    
   <br />
@*   <div class=form-group>
       <input type="submit" value="Guardar" class="btn btn-success"/>
         
    </div>*@
       <div class=form-group>
        @*<input type="submit" value="Guardar" class="btn btn-success"/>*@

        @*lo ponemos neutral como enlñace sin apuntar a ningun lado*@
        <a id="btnGuardar" href="javascrip:void(0);" class="btn btn-success">Guardar</a>

         
    </div>
    </div>
</form>
<div class="contenedor">

</div>
@section Scripts
{
    <script src="~/js/jsCategoria.js"></script>
}

