<h1 class="alert-success">Crear nueva categoria</h1>

<form asp-action="CrearCategoria">
    <div>
    <input type="text" class="form-control" name="Categoria" />
    <input type="text" class="form-control" name="DescripcionCategoria"/>
   @* <input type="date" class="form-control" />*@
    <div class=form-group>
        <input type="submit" value="Guardar" class="btn btn-success"/>
    </div>
    </div>
</form>
