@model prjMaribelMejia.Models.Categorias

<h2>Edición de Categoria</h2>

<form asp-action="EditarValorCategoria">
    <div>
    <input type="text" class="form-control pruebajq1" name="Categoria" value="@Model.Categoria"/>
    <input type="text" class="form-control pruebajq2" name="DescripcionCategoria" value="@Model.DescripcionCategoria"/>
   <input type="hidden" class="form-control pruebajq3" name="IdCategoria" value="@Model.IdCategoria"/>
    <div class=form-group>
        <input type="submit" value="Actualizar" class="btn btn-success"/>
    </div>
    </div>
</form>