@model prjMaribelMejia.Models.Categorias

<h2>Edición de Categoria</h2>
<form asp-action="EditarValorCategoria">
    <div>
    <input type="text" class="form-control" name="Categoria" />
    <input type="text" class="form-control" name="DescripcionCategoria"/>
   @* <input type="date" class="form-control" />*@
    <div class=form-group>
        <input type="submit" value="Guardar" class="btn btn-success"/>
    </div>
    </div>
</form>