@*Aquii es donde se encapsulan los datos*@
@model List<prjMaribelMejia.Models.Categorias>


<div>  
    <div>
      <h2 class="alert-success">Administración de Categorias</h2>
    </div>

<br />

    <table class="table tabla-categorias hover display">
        <thead>

            <tr>
                <th>Categoria</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
    
        </thead>
        <tbody>
            @{
                //hace referencia a lo que viene como modelo
                foreach(var categoria in Model)
                {
                    <tr>  
                    <td>@categoria.Categoria</td>            
                     <td><a data-id="@categoria.IdCategoria" data-toggle="tooltip" title="Ver Descripción" class="btn btn-success ver-descripcion fa fa-eye" style="width: 125px;" href="javascript:void(0); "> Descripción</a></td>        
                    <td>              
                     
                    @*opcion 2 boton editar*@
                    
                      <a class="btn btn-info" style="width: 80px;"  href ="@Url.Action("EditarCategoria", new{ id=categoria.IdCategoria})">Editar</a>
                      <a class="btn btn-danger" style="width: 80px;" href ="@Url.Action("EliminarCategoria", new{ id=categoria.IdCategoria})">Eliminar</a>
                    </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class=form-group>      
        <a class="btn btn-success" asp-action="Categorias">Nuevo</a>
  
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
     
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Descripción de Categoría</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <span class="valor-descripcion"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
       @* <button type="button" class="btn btn-primary">Save changes</button>*@
      </div>
    </div>
  </div>
</div>


    @section Scripts{
    <script>

    //$('.tabla-categorias').DataTable();
          $(document).ready(function() {
   // $('#example').DataTable();

//var table = 
$('.tabla-categorias').DataTable(
    
    {
    // "oLanguage": 
     
language:{
            "sLengthMenu": "_MENU_ Filtrar por páginas",
            "sZeroRecords": "No se encontró registro",
            "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 ta 0 de 0 entradas",
             "decimal": ".",
             "thousands": ",",
             "loadingRecords": "Cargando...",
             "search": "Buscar:",
              "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",            
            "previous": "Anterior"
        },
            "sInfoFiltered": "(filtrado de _MAX_ registros en total)"
        }
    });
    } );


        //    $(".nombre-categoria").click(function(){
    $(".ver-descripcion").click(function(){
        var id=$(this).attr("data-id");
        //hacer la peticion para rescatar la descripcion de la categoria
         var xhr = $.ajax({

            //url destino
            url: "ObtenerDescripcion",
            type: "POST",
            //agregamos los parametros de la petición
            data: {
                //parametros
                "id":id
            }
        });

   xhr.done(function (data) {

    $(".valor-descripcion").text(data.descripcion);
    $("#exampleModal").modal("show");
   
   })
   xhr.fail(function () {})

        //alert("Se ha dado clic")
       

    })
</script>
}