@model List<prjMaribelMejia.Models.Categorias>
<div>

    <table>
        <thead>

            <tr>
                <th>Categoria</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            @{
                //hace referencia a lo que viene como modelo
                foreach(var categoria in Model)
                {
                    <tr>  
                    <td>@categoria.Categoria</td>
                    <td>@categoria.DescripcionCategoria</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class=form-group>      
        <a class="btn btn-outline-primary" asp-action="Categorias">Nuevo</a>
    </div>
</div>
