@{
    ViewData["Title"] = "Políticas de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Nuestras Políticas de Privacidad.</p>
<div class="p-4">
    
 <p>Haz clic en el siguiente enlace para leer las políticas de privacidad de esta página</p>   <a href="https://policies.google.com/privacy?hl=es" class="text-underline-hover">Políticas Aquí</a>
</div>
